# Some standard file formats to ignore
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# SQLite databases
*.sqlite

# The various thumbnail crap
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# Gem Defaults
/bundler/
/cache/
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore util/version.go - let our Rake task generate that
/util/version.go
/util/dist

# Other stuff to ignore
.idea
.vagrant
